<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="govjobs.govjob"
    android:versionName="1.0.0"
    android:versionCode="1"
   >

    <uses-permission android:name="android.permission.INTERNET" /> <!-- NEED THIS FOR ANY INTERNET RELATED STAFF -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />



    <!-- NEED THIS FOR WRITTING TO EXTERNAL FILE -->
    <application
        android:allowBackup="true"
        android:icon="@drawable/gov_jobs_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".ui.JobList"
            android:label="@string/app_name"
            android:logo="@drawable/gov_jobs_logo"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.Prefs"
            android:label="@string/title_activity_prefs" >
        </activity>
        <activity
            android:name=".ui.JobDetailsActivity"
            android:label="@string/title_activity_job_details"
            android:parentActivityName=".ui.JobList" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.JobList" />
        </activity>
        <activity
            android:name=".ui.JobApplication"
            android:label="@string/title_activity_application" >
        </activity>


        <service
            android:name=".widget.FetchDataService"
            android:enabled="true"
            android:exported="true" >
        </service>
        <service
            android:name=".widget.CollectionService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_REMOTEVIEWS">
        </service>

        <receiver android:name=".widget.GovJobAppWidgetProvider" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="govjobs.govjob.ACTION_WIDGET_START_SERVICE" />
                <action android:name="govjobs.govjob.ACTION_WIDGET_START_JOBLIST_ACTIVITY" />
                <action android:name="govjobs.govjob.ACTION_SERVICE_FINISH_FECTH" />
                <action android:name="govjobs.govjob.ACTION_INDIVIDUAL_ITEM_IN_WIDGET"/>
                <action android:name="govjobs.govjob.ACTION_ALARM_UPDATE"/>

            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/gov_job_widget_info" />
        </receiver>

        <!-- WILL BE CALL WHEN THE DEVICE IS BOOT -->
        <receiver android:name=".widget.BootReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>

        <activity android:name=".widget.WidgetConfig" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
    </application>


</manifest>
